<html lang="pug">
<head>
meta(charset='UTF-8')
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title PHUSIKOS　楽天市場店｜ギリシャ・クレタ島のエキストラヴァージンオリーブオイル・コロネイキ種100%・コールドプレス製法
link(rel="shortcut icon" href="/www.rakuten.ne.jp/gold/phusikos/img/icon/favicon.ico")
link(href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css", rel="stylesheet")
link(href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css", rel="stylesheet")
link(href='https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700&display=swap&subset=japanese' rel='stylesheet')
link(rel='stylesheet' href='assets/css/app.css')
</head>

<body>
    .container
        //- // Header Start From Here
        header
            .header_logo 
                a(href='javascript:void(0)')
                    img(src='assets/img/common/logo.png', alt='logo')
            
            .header_nav
                .search_area
                    form(action='javascript:void(0)' class="search_bar")
                        input(type="search" class="search_input")
                        .search_icon
                            img(src='assets/img/common/search.png', alt='search') 
                            span 検索
                    .subscribe_bar
                        a(href="javascript:void(0)")
                            img(src="assets/img/common/subscribe.svg", alt="Subscribe")
                            span.text メルマガ<br> 登録
                    .search_bar_sp
                        form(action='javascript:void(0)' autocomplete='on' class="search_bar_inner")
                            input#search_input(name='search' type='text' placeholder="商品名を入力してください")
                            input#search_submit(value='Rechercher' type='submit')
                        .add_search
                            img(src="assets/img/common/search_sp.svg", alt="Search")
                        .remove_search
                            img(src="assets/img/common/nav_close.svg", alt="Search")
                input(type="checkbox", id="check")
                label(for="check" class="checkbtn")
                    img.toggle_btn(src="assets/img/common/nav_toggle.svg", alt="navbar")
                    img.close_btn(src="assets/img/common/nav_close.svg", alt="navbar")
                .nav_area
                    ul.navber_list
                        li.nav_list 
                            a(href="javascript:void(0)") 商品一覧
                        li.nav_list 
                            a(href="javascript:void(0)") ギフトセット
                        li.nav_list 
                            a(href="javascript:void(0)") 会社概要
                        li.nav_list 
                            a(href="javascript:void(0)") カートを見る
                        li.nav_list 
                            a(href="javascript:void(0)") 決済・配送・返品
                        li.nav_list 
                            a(href="javascript:void(0)") 楽天
        block content
        footer
            .footer_top
                .footer_widget
                    .widget_heading
                        .title お支払いについて
                    p.text 下記の方法がご利用可能です。
                    ul.widget_list
                        li
                            span.circle
                            | クレジットカード払い <br> VISA、MASTER、JCB、American Express、<br> DINERS Club 
                            br
                            img(class="credit" src="assets/img/common/img_credit.jpg", alt="credit")
                        li 
                            span.circle
                            | 銀行振込（前払い）
                        a.details(href="javascript:void(0)")
                            img(src="assets/img/common/icon_arrow-next.svg", alt="right-arrow")
                            | 詳細はこちら
                .footer_widget
                    .widget_heading
                        .title 配送とお届けについて
                    p.text 【配送について】
                    ul.widget_list
                        li 
                            span.circle
                            | 全商品送料無料とさせて頂きます。
                        a.details(href="javascript:void(0)")
                            img(src="assets/img/common/icon_arrow-next.svg", alt="right-arrow")
                            | 詳細はこちら
                    p.text 【お届けについて】
                    ul.widget_list
                        li 
                            span.circle
                            | ご注文商品は、宅配便にてお届け致します。
                        li 
                            span.circle
                            | 配達日時は指定可能です。
                        li 
                            span.circle
                            | 特にご指定のない場合は、1～5営業日以内に発送いたします。（銀行振込の場合はご入金確認後）
                        
                        a.details(href="javascript:void(0)")
                            img(src="assets/img/common/icon_arrow-next.svg", alt="right-arrow")
                            | 詳細はこちら
                .footer_widget
                    .widget_heading
                        .title お問い合わせ先について
                    p.text 株式会社クレタ・シラキス <br>〒810-0024福岡市中央区桜坂1-3-16<br>TEL：0120-503-077（受付時間：10:00～17:00（月～金）/定休日：土日祝）<br>FAX：0120-880-454（24時間受付）
                .footer_widget
                    .widget_heading
                        .title 営業日カレンダー
                    p.text 下記のの日は電話・メールでのお問い合わせ・商品の出荷がお休みです。お休み中に頂いたメールのお問い合わせは翌営業日に順次対応いたします。<br> お急ぎの場合は営業時間内にお電話にてご連絡下さい。
                .widget_wrapper.left
                    .footer_widget
                        .widget_heading
                            .title お問い合わせ先について
                        p.text 株式会社クレタ・シラキス <br>〒810-0024福岡市中央区桜坂1-3-16<br>TEL：0120-503-077（受付時間：10:00～17:00（月～金）/定休日：土日祝）<br>FAX：0120-880-454（24時間受付）
                    .footer_widget
                        .widget_heading
                            .title 営業日カレンダー
                        p.text 下記のの日は電話・メールでのお問い合わせ・商品の出荷がお休みです。お休み中に頂いたメールのお問い合わせは翌営業日に順次対応いたします。<br> お急ぎの場合は営業時間内にお電話にてご連絡下さい。
                .widget_wrapper.right
                    .footer_widget
                        #calendar
                        ul.widget_list.calendar
                            li 
                                span.circle
                                | 定休日：土日祝
                            li 
                                span.circle
                                | 営業時間：10:00～17:00（月～金） 
            .footer_bottom
                p.text Copyright(C) 2019 CRETE PSYLLAKIS CO. All Right Reserved.
script(type="text/javascript" src="assets/js/plugin.js")
script(type="text/javascript" src="assets/js/function.js")
</body>

</html>