extends inc/layout.pug 
block content
    section.brand_banner
        .banner_element
            .banner_content
                h3.title ブランドストーリー
                p.text Brand Story
                p.para 日本とギリシャの歴史を受け継ぎ生まれたフシコス
        .brand_nav
            ul.nav_list
                li 
                    a.nav_link(href="javascript:void(0)") ブランドストーリー
                li 
                    a.nav_link(href="javascript:void(0)") 想い
                li 
                    a.nav_link(href="javascript:void(0)") ブランド名の由来
                li 
                    a.nav_link(href="javascript:void(0)") 品質
                li 
                    a.nav_link(href="javascript:void(0)") 農園より
                li 
                    a.nav_link(href="javascript:void(0)") ポアラーについて
                