extends inc/layout.pug 
block content
        //- // Banner Start From Here
        section.banner.wow.fade(data-wow-duration="1s")
            .banner_element 
                .text_para.wow.fadeInLeft(data-wow-duration="2s")
                    p ギリシャ・クレタ島のオリーブ農家から <br> こだわりのオリーブオイルを食卓に
                .black_thumb.wow.fadeInLeft(data-wow-duration="4s")
                    img(src="./assets/img/banner/black_bottle.png", alt="banner")
                .white_thumb.wow.fadeInLeft(data-wow-duration="3s")
                    img(src="./assets/img/banner/white_bottle.png", alt="banner")          
        //- // Notice Start From Here
        section.notice
            .notice_content
                p.title ◇年末年始休業のお知らせ◇ 
                p.para 【12月27日(金)～1月5日(日)】は休業とさせていただきます。12月27日(金)以降のご注文は1月6日(月)に発送いた<br>します。 大変ご迷惑をおかけいたしますが、何卒宜しくお願い申し上げます。
        //- // Review Start From Here
        section.review 
            .review_content
                .write.item  
                    img(src="./assets/img/common/write.png", alt="review")
                    p.text レビューをご記入 <br> いただいた方全員に、
                .price_text.item
                    p.price 500
                        span 円
                    p.text もしくは
                .price_text.item
                    p.price 300
                        span 円
                .para.item 
                    p.text 割引クーポンプレゼント!!
        //- // Product Start From Here
        section.products
            .section_heading
                h2.title Products
                p.text フシコスの人気のセットをまずはお試しください
            .product_show
                .show_item
                    .thumb
                        img(src="./assets/img/product/product-sm-1.png", alt="Product")
                    .content
                        p.text レギュラーサイズセット <br>（内容量200g）
                .show_item
                    .thumb
                        img(src="./assets/img/product/product-sm-2.png", alt="Product")
                    .content
                        p.text ミニサイズセット <br>（内容量200g）
                .show_item
                    .thumb
                        img(src="./assets/img/product/product-sm-3.png", alt="Product")
                    .content
                        p.text おためし用 <br>（内容量135g)
                .show_item
                    .thumb
                        img(src="./assets/img/product/product-sm-4.png", alt="Product")
                    .content
                        p.text ギフトセット <br>（内容量200g缶,150g瓶）
                .show_item
                    .thumb
                        img(src="./assets/img/product/product-sm-5.png", alt="Product")
                    .content
                        p.text キッチン用品
            .product_search
                table.table_data
                    tbody
                        tr
                            th カテゴリから探す
                            td 
                                a(href="javascript:void(0)") オリーブオイル
                            td 
                                a(href="javascript:void(0)") オリーブオイル
                            td 
                                a(href="javascript:void(0)") オリーブオイル
                            td 
                                a(href="javascript:void(0)") オリーブオイル
                            td 
                                a(href="javascript:void(0)") オリーブオイル
                        tr
                            th ご予算から探す
                            td 
                                a(href="javascript:void(0)") ～2,999円
                            td 
                                a(href="javascript:void(0)") 3,000〜3,999円
                            td 
                                a(href="javascript:void(0)") 4,000〜4,999円
                            td 
                                a(href="javascript:void(0)") 5,000〜9,999円
                            td 
                                a(href="javascript:void(0)") 10,000円以上
                            
            .feature_product
                .show_item
                    .heading 
                        p.title about
                        p.text 世界一と称えられてきた <br> オリーブオイルの品質
                    .content
                        p.para ギリシャ・クレタ島は、6000年前に世界で初めてオリーブが栽培されたとされている地です。<br> その木々を大切に丁寧に育ててきたのがシラキスファミリー。 伝統製法を守りながら、自然農法で栽培を行うことで世界一と称えられてきたオリーブオイルの品質を守り続けています。
                    .thumb
                        img(src="./assets/img/product/feature-1.png", alt="feature")
                .show_item
                    .heading 
                        p.title about
                        p.text 日本とギリシャの歴史を  <br> 受け継ぎ生まれたフシコス
                    .content
                        p.para 『フシコス』のもうひとつのファミリー、日本の油屋。福岡県で明治時代から続く老舗です。<br> 現在、4代目当主が原料や製法にこだわった胡麻油やなたね油をつくって販売しています。<br> 油は本来、光・酸素・熱を嫌う食品。永年にわたって油を知りつくした経験を活かしギリシャで缶に詰め、密閉・空輸されたエキストラヴァージンオリーブオイルを日本で徹底管理し責任を持って小分け缶にボトリングしています。
                    .thumb
                        img(src="./assets/img/product/feature-2.png", alt="feature")
            .story_product
                .story_element
                    .thumb
                        img(src="./assets/img/product/story-1.png", alt="story")
                    .thumb
                        img(src="./assets/img/product/story-2.png", alt="story")
                    .thumb
                        img(src="./assets/img/product/story-3.png", alt="story")
                    .thumb
                        img(src="./assets/img/product/story-4.png", alt="story")
                .show_story
                    a(href="javascript:void(0)")
                        img(src="./assets/img/common/right_arrow_circle.png", alt="arrow-sign") 
                        | フシコスブランドストーリーを見る
        //- // Shop Intro Start From Here
        section.shop_intro
            .section_heading
                h2.title Shop Introduction
                p.text フシコス店舗のご紹介
            .intro_top  
                .thumb
                    img(src="./assets/img/common/introduction.png", alt="img")
                .content
                    p.text 日本初、ギリシャ・クレタ島最高級 <br> エキストラヴァージンオリーブオイル量売り専門店 <br> ギリシャ・クレタ島から空輸にて直輸入した最高級のエキストラヴァージンオリーブオイルを10ｇからお気軽にお買い求めいただけます。<br> <br> 専用の容器もご用意いたしておりますが、お手持ちの容器をお持ちいただければお好みの量をボトリングいたします。<br> おいしい試食と店舗オリジナル商品も取り揃えて皆様のお越しを心よりお待ちしております。
            .intro_bottom
                table.table_data
                    tbody
                        tr
                            th カテゴリから探す
                            td オリーブオイル
                        tr
                            th 住所
                            td 〒810-0024 福岡県福岡市中央区桜坂1-6-16 <br> 地下鉄七隈線桜坂駅より徒歩4分 店舗敷地内に2台の駐車スペースがございます。
                        tr
                            th 電話番号
                            td 092-739-1234
                        tr
                            th 取り扱い商品
                            td ギリシャ・クレタ島産エキストラヴァージンオリーブオイル、各種オリーブオイルギフト、その他クレタ島特産品
                        tr
                            th 営業時間
                            td 11：00〜19：00（休業日 日曜・祝日）
        //- // Giftset Start From Here
        section.gift_set
            .section_heading
                h2.title GiftSet
                p.text 深緑のオリジナルギフトボックスでお届けいたします
            .gift_element   
                .gift_left
                    .thumb
                        img(src="./assets/img/gift/gift-1.png", alt="gift")
                    .content
                        p.text 自分に、大切な人に、届いて嬉しい <br> フシコスギフトセット
                        p.title Olive Oile Gift
                    .more_btn
                        a.custom_btn(href="javascript:void(0)")
                            img(src="./assets/img/common/right_arrow.png", alt="right-arrow")
                            | MORE
                .gift_right
                    .thumb
                        img(src="./assets/img/gift/gift-2.png", alt="gift")
                    .content
                        p.text ギフトラッピングについて
                        p.title Gift Wrapping
                    .more_btn
                        a.custom_btn(href="javascript:void(0)")
                            img(src="./assets/img/common/right_arrow.png", alt="right-arrow")
                            | MORE
        //- // Ad Area Start From Here
        section.ad_area
            .thumb
                img(src="./assets/img/gift/ad-1.png", alt="ad-banner")
            .thumb
                img(src="./assets/img/gift/ad-2.png", alt="ad-banner")
        //- // Review Start From Here
        section.review 
            .review_content
                .write.item  
                    img(src="./assets/img/common/write.png", alt="review")
                    p.text レビューをご記入 <br> いただいた方全員に、
                .price_text.item
                    p.price 500
                        span 円
                    p.text もしくは
                .price_text.item
                    p.price 300
                        span 円
                .para.item 
                    p.text 割引クーポンプレゼント!!
        //- Recommend Start From Here
        section.recommend
            .section_heading
                h2.title Recommend Items
                p.text フシコスのオススメ商品
            .recommed_element
                .left
                    .thumb
                        img(src="./assets/img/product/recom-lg.png", alt="Recommend")
                        span.circle 
                            span.center フシコス <br> オススメ!
                    p.text フシコス エキストラヴァージンオリーブオイル ミニサイズセット
                    p.price 3,300円(税込)
                .right
                    .shows_item  
                        .thumb
                            img(src="./assets/img/product/recom-1.png", alt="Recommend")
                        .content
                            p.title フシコス エキストラヴァージンオリーブオイル レギュラーサイズセット
                            p.price 8,100円(税込)
                    .shows_item  
                        .thumb
                            img(src="./assets/img/product/recom-1.png", alt="Recommend")
                        .content
                            p.title フシコス エキストラヴァージンオリーブオイル レギュラーサイズセット
                            p.price 8,100円(税込)
        //- // Product Start From Here
        section.products                    
            .product_search
                table.table_data
                    tbody
                        tr
                            th カテゴリから探す
                            td 
                                a(href="javascript:void(0)") オリーブオイル
                            td 
                                a(href="javascript:void(0)") オリーブオイル
                            td 
                                a(href="javascript:void(0)") オリーブオイル
                            td 
                                a(href="javascript:void(0)") オリーブオイル
                            td 
                                a(href="javascript:void(0)") オリーブオイル
                        tr
                            th ご予算から探す
                            td 
                                a(href="javascript:void(0)") ～2,999円
                            td 
                                a(href="javascript:void(0)") 3,000〜3,999円
                            td 
                                a(href="javascript:void(0)") 4,000〜4,999円
                            td 
                                a(href="javascript:void(0)") 5,000〜9,999円
                            td 
                                a(href="javascript:void(0)") 10,000円以上
        //- // Recipe Start From Here
        section.recipe
            .section_heading
                h2.title Recipe
                p.text ワンランク上のお手軽レシピ
            .recipe_element
                .show_item
                    .thumb
                        img(src="./assets/img/recipe/recipe-1.png", alt="Recipe")
                    .content
                        p.title ゆず胡椒ペペロンチーノ
                        p.text ピリっとした辛さが癖になる、簡単和風ペペロンチーノです。
                        .more_btn
                            a.custom_btn.style_two(href="javascript:void(0)")
                                img(src="./assets/img/common/right_arrow_white.png", alt="right-arrow")
                                | MORE
                .show_item
                    .thumb
                        img(src="./assets/img/recipe/recipe-2.png", alt="Recipe")
                    .content
                        p.title ナッツを使った中東発祥スパイス　デュカ
                        p.text たっぷりのオリーブオイルとデュカをパンにつけて召し上がれ。
                        .more_btn
                            a.custom_btn.style_two(href="javascript:void(0)")
                                img(src="./assets/img/common/right_arrow_white.png", alt="right-arrow")
                                | MORE
                .show_item
                    .thumb
                        img(src="./assets/img/recipe/recipe-3.png", alt="Recipe")
                    .content
                        p.title きのこの豆乳スープ
                        p.text 風邪の予防におすすめのビタミンＤがたっぷり採れる豆乳スープ。
                        .more_btn
                            a.custom_btn.style_two(href="javascript:void(0)")
                                img(src="./assets/img/common/right_arrow_white.png", alt="right-arrow")
                                | MORE
                .show_item
                    .thumb
                        img(src="./assets/img/recipe/recipe-4.png", alt="Recipe")
                    .content
                        p.title きのこの豆乳スープ
                        p.text 風邪の予防におすすめのビタミンＤがたっぷり採れる豆乳スープ。
                        .more_btn
                            a.custom_btn.style_two(href="javascript:void(0)")
                                img(src="./assets/img/common/right_arrow_white.png", alt="right-arrow")
                                | MORE
                .show_item
                    .thumb
                        img(src="./assets/img/recipe/recipe-5.png", alt="Recipe")
                    .content
                        p.title きのこの豆乳スープ
                        p.text 風邪の予防におすすめのビタミンＤがたっぷり採れる豆乳スープ。
                        .more_btn
                            a.custom_btn.style_two(href="javascript:void(0)")
                                img(src="./assets/img/common/right_arrow_white.png", alt="right-arrow")
                                | MORE
                .show_item
                    .thumb
                        img(src="./assets/img/recipe/recipe-6.png", alt="Recipe")
                    .content
                        p.title きのこの豆乳スープ
                        p.text 風邪の予防におすすめのビタミンＤがたっぷり採れる豆乳スープ。
                        .more_btn
                            a.custom_btn.style_two(href="javascript:void(0)")
                                img(src="./assets/img/common/right_arrow_white.png", alt="right-arrow")
                                | MORE
        
