
doctype html
html(lang="en")
head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title Gulp Boilerplate
    link(href="assets/img/common/favicon.png" rel="shortcut icon" type="image/x-icon")
    link(rel='stylesheet' href='assets/css/app.css')

body
    .introduction
        h1.test_title Gulp boilerplate with pug html
        h6.text Application has been running successfully, thank you.
        
script(type="text/javascript" src="assets/js/plugin.js")
script(type="text/javascript" src="assets/js/function.js")
