extends inc/layout.pug 
block content
    //- // Banner Start From Here
    section.recipe_header
        img(src="assets/img/recipe/recipe-banner.png", alt="Recipe")
        p.text ワンランク上のお手軽レシピ
    section.recipe_feature
        .feature_heading
            h3.title ゆず胡椒ペペロンチーノ
            p.text ピリっとした辛さが癖になる、<br> 簡単和風ペペロンチーノです。
        .feature_element
            .feature_top
                .content
                    h6.title 材料 
                        small 2人分
                    table.table_data
                        tr
                            td パスタ
                            td 200ｇ
                        tr 
                            td シーフードミックス
                            td 150ｇ～200ｇ
                        tr
                            td オリーブオイル
                            td 大さじ4
                        tr 
                            td にんにく
                            td 1片
                        tr
                            td 鷹の爪　
                            td 1本
                        tr 
                            td 柚子胡椒
                            td 小さじ1
                        tr
                            td 和風だし(顆粒)
                            td 小さじ1
                        tr 
                            td パセリ
                            td 適量
                        
                .thumb
                    img(src="assets/img/recipe/feature-1.png", alt="Feature")
                    p.text Peperonchino
            .feature_bottom
                h6.title つくりかた
                .feature_bottom_element
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 01
                        .content
                            p.text パスタを茹でます。 にんにくはみじん切り、鷹の爪は輪切りにします。
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 02
                        .content
                            p.text フライパンにオリーブオイルを入れ、にんにくと鷹の爪を炒めます。 香りが立ってきたらシーフードミックスを入れて炒めます。
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 03
                        .content
                            p.text シーフードミックスに火が通ったら、茹で上がったパスタをフライパンに移し 柚子胡椒と和風だしを加えて全体に味が行き渡るように混ぜます。
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 04
                        .content
                            p.text お皿に盛り付け、最後にパセリを載せたら完成です。 お好みでブロッコリーやアスパラなどの野菜を加えるのもオススメです！
    section.recipe_feature
        .feature_heading
            h3.title ナッツを使った中東発祥スパイス　デュカ
            p.text たっぷりのオリーブオイルとデュ <br> カをパンにつけて召し上がれ。
        .feature_element
            .feature_top
                .content
                    h6.title 材料  
                        small 2人分
                    table.table_data
                        tr
                            td 白ごま
                            td 大さじ1
                        tr 
                            td アーモンドダイス
                            td 大さじ1
                        tr
                            td ピーカンナッツ
                            td 大さじ1
                        tr 
                            td コリアンダー
                            td 大さじ1
                        tr
                            td クミン
                            td 大さじ1/2
                        tr 
                            td 岩塩
                            td 小さじ1
                .thumb
                    img(src="assets/img/recipe/feature-2.png", alt="Feature")
                    p.text Dukkah
            .feature_bottom
                h6.title つくりかた
                .feature_bottom_element
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 01
                        .content
                            p.text ピーカンナッツ、コリアンダー、クミン、は軽く炒ってください。いい香りがしてきます。
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 02
                        .content
                            p.text お好みの大きさに砕き、全てを混ぜれば完成。 エキストラヴァージンオリーブオイルを浸したパンにデュカを振りかけて食べるのがおすすめ。
    section.recipe_feature
        .feature_heading
            h3.title きのこの豆乳スープ
            p.text 風邪の予防におすすめのビタミ <br> ンＤがたっぷり採れる豆乳スープ。
        .feature_element
            .feature_top
                .content
                    h6.title 材料  
                    table.table_data
                        tr
                            td エリンギ
                            td 1パック
                        tr 
                            td しめじ
                            td 1/2房
                        tr
                            td 舞茸
                            td 1パック
                        tr 
                            td 豆乳
                            td 300ml
                        tr
                            td 水
                            td 300ml
                        tr 
                            td オリーブオイル
                            td 大さじ３
                        tr 
                            td 塩胡椒
                            td 少々
                        tr 
                            td クルトン
                            td お好みで
                        tr 
                            td パセリ
                            td お好みで
                        
                .thumb
                    img(src="assets/img/recipe/feature-3.png", alt="Feature")
                    p.text Soy milk soup
            .feature_bottom
                h6.title つくりかた
                .feature_bottom_element
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 01
                        .content
                            p.text きのこ類はお好きなものをお使いいただき、適当な大きさに手でほぐしておきます。
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 02
                        .content
                            p.text フライパンにオリーブオイルを入れ、きのこを炒めます。
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 03
                        .content
                            p.text 2へお水と白だしを入れ、煮立ったら豆乳を加え、煮立ったら塩胡椒で味を調えて完成です。 お好みでクルトンやパセリ等で飾ってください。 ※灰汁が出てきたら軽くおたまですくってください。
    section.ads_area
        .thumb
            img(src="assets/img/recipe/small.png", alt="Recipe")
        .content
            h4.title 商品購入でオリジナルレシピをプレゼント！
            a.text(href="javascript:void(0)") ご購入していた方に全員にレシピカード、<br> ご使用方法の説明をお送りいたします。
        .view_btn 
            a.custom_btn.style_two(href="javascript:void(0)")
                img(src="assets/img/common/right_arrow_white.png", alt="right-arrow")
                | 商品を見る
    section.recipe_feature
        .feature_heading
            h3.title オリーブオイルでジューシーハンバーグ
            p.text つなぎにオリーブオイルと水を使うことで、お店で食 <br> べるようなジューシーなハンバーグに仕上がります。
        .feature_element
            .feature_top
                .content
                    h6.title 材料  
                        small 3人分
                    table.table_data
                        tr
                            td 牛ひき肉
                            td 500g
                        tr 
                            td 玉ねぎ(みじん切り)　
                            td 1個分
                        tr
                            td にんにく(すりおろし)
                            td 1片
                        tr 
                            td しょうが(すりおろし)
                            td 適量
                        tr
                            td 塩コショウ
                            td 少々
                        tr 
                            td オリーブオイル（つなぎ用）
                            td 大さじ2
                        tr 
                            td 和風だし(顆粒)
                            td 小さじ1
                        tr 
                            td 水（つなぎ用）
                            td 大さじ2
                        
                .thumb
                    img(src="assets/img/recipe/feature-4.png", alt="Feature")
                    p.text Juicy hamburger
            .feature_bottom
                h6.title つくりかた
                .feature_bottom_element
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 01
                        .content
                            p.text つなぎ用の材料以外をボウルに入れます。
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 02
                        .content
                            p.text 粘りが出るまでこねます。
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 03
                        .content
                            p.text 十分こねたところに、つなぎ用のオリーブオイルと水を加え、さらにこねていきます。
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 04
                        .content
                            p.text 少しゆるく感じるぐらいでOKです。
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 05
                        .content
                            p.text 空気を抜きながら3等分に成形していきます。 厚さは3～4cmが目安です。
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 06
                        .content
                            p.text フライパンにオリーブオイルを引いて、成形したお肉を並べて強火にかけ焼き色をつけます。
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 07
                        .content
                            p.text 焼き色がついたら裏返しフタをして、中火以下で5～6分蒸し焼きにしていきます。
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 08
                        .content
                            p.text おはしを刺して肉汁が溢れ出てくれば完成、お皿にとって盛り付けます。 つなぎにオリーブオイルと水を使うことで、少しゆるゆるな感じになりますが、これが出来上がったときのにジューシーな肉汁のもととなります。
                    
    section.recipe_feature
        .feature_heading
            h3.title 冷凍たまごのフシコス天ぷら
            p.text 一口食べた瞬間、とろっとした卵が♪おかず <br> にもおつまみにも！卵を冷凍しておけばすぐに出来ますよ。
        .feature_element
            .feature_top
                .content
                    h6.title 材料  
                    table.table_data
                        tr
                            td 冷凍たまご
                            td 2個
                        tr 
                            td オリーブオイル
                            td 適量 
                    h6.title.style_two ■A  
                    table.table_data
                        tr
                            td 薄力粉
                            td 30ｇ
                        tr 
                            td 水
                            td 適量 
                        tr 
                            td 青のり
                            td 大さじ1 
                .thumb
                    img(src="assets/img/recipe/feature-5.png", alt="Feature")
                    p.text.white Egg tempura
            .feature_bottom
                h6.title つくりかた
                .feature_bottom_element
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 01
                        .content
                            p.text たまごをジップロックに入れ、冷凍庫で一晩凍らせる。
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 02
                        .content
                            p.text 凍ったたまごを流水にあて、殻を剥きます。
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 03
                        .content
                            p.text  冷凍たまごにそのまま薄力粉をまぶし、Aにくぐらせ衣をつけます。 衣をつけるのが難しい場合は、薄力粉をつけた卵を油に入れ、その上から衣をスプーン1杯程ゆっくりかけていくとうまく卵の周りに衣ができます。
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 04
                        .content
                            p.text 低温の油に入れてじっくりと揚げていきます。この時はあまり触らず、下に向いている部分が固まってきたら裏返す程度に。
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 05
                        .content
                            p.text  お好みでお塩や『フシコス』にこしょうをまぜたものにつけてお召し上がりください。
                    
    section.recipe_feature
        .feature_heading
            h3.title オリーブオイルで紅茶マフィン
            p.text バターを使わなくても、充分に風味が楽しめる、 <br> 紅茶マフィンです。
        .feature_element
            .feature_top
                .content
                    h6.title 材料  
                    table.table_data
                        tr
                            td 薄力粉
                            td 200ｇ
                        tr 
                            td グラニュー糖
                            td 120g
                        tr
                            td オリーブオイル
                            td 100g
                        tr 
                            td 卵（Mサイズ）
                            td 2個
                        tr
                            td ヨーグルト
                            td 60g
                        tr 
                            td 紅茶の茶葉（今回はアールグレイ）
                            td 10ｇ
                        tr 
                            td ベーキングパウダー
                            td 5g
                        
                .thumb
                    img(src="assets/img/recipe/feature-6.png", alt="Feature")
                    p.text Tea muffins
            .feature_bottom
                h6.title つくりかた
                .feature_bottom_element
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 01
                        .content
                            p.text 薄力粉とベーキングパウダーは合わせて泡立て器で混ぜておきます。（ふるいにかける代わりです。） しっかり混ぜ終わったら、お好みの紅茶の茶葉を入れて、軽く混ぜ合わせます。
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 02
                        .content
                            p.text オーブンを170℃に余熱している間に、『フシコス』とグラニュー糖、卵をボールに入れ、泡立て器でしっかり混ぜます。オリーブオイルとグラニュー糖、卵を混ぜる時は、少しとろっとするのを目安にしてください。クリーム程固くはなりません。
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 03
                        .content
                            p.text 2に1を入れ、さっくり混ぜあわせ、最後にヨーグルトを混ぜ入れます。 その後、マフィン型に入れ（7分目）、22-25分程焼けば完成。 焼き上がりは、竹串をさして生地がつかないことを確認してください。
                    .show_item
                        .thumb
                            img(src="assets/img/common/map_icon.svg", alt="Map")
                            span.num 04
                        .content
                            p.text お皿に盛り付け、最後にパセリを載せたら完成です。 お好みでブロッコリーやアスパラなどの野菜を加えるのもオススメです！
                    
    section.ads_area
        .thumb
            img(src="assets/img/recipe/small.png", alt="Recipe")
        .content
            h4.title 商品購入でオリジナルレシピをプレゼント！
            a.text(href="javascript:void(0)") ご購入していた方に全員にレシピカード、<br> ご使用方法の説明をお送りいたします。
        .view_btn 
            a.custom_btn.style_two(href="javascript:void(0)")
                img(src="assets/img/common/right_arrow_white.png", alt="right-arrow")
                | 商品を見る
