.banner {
  .banner_element {
    background: url(../img/banner/banner.png) no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    height: 550px;
    position: relative;
    @include breakpoint(tablet) {
      height: 384px;
      background: url(../img/banner/banner_sp.png) no-repeat;
    }
    .text_para {
      position: absolute;
      top: 30%;
      left: 4%;
      transform: translateY(-50%);
      @include breakpoint(tablet) {
        top: 35%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 80%;
        text-align: center;
      }
      p {
        font-size: 22px;
        color: $base1;
        font-weight: 400;
        letter-spacing: 5px;
        @include breakpoint(tablet) {
          font-size: 18px;
          font-weight: 300;
          letter-spacing: 0px;
        }
      }
    }
    .black_thumb {
      bottom: -2%;
      left: 4%;
      position: absolute;
      @include breakpoint(tablet) {
        left: 30%;
        img {
          width: 60%;
        }
      }
    }
    .white_thumb {
      bottom: -2%;
      left: 17%;
      position: absolute;
      @include breakpoint(tablet) {
        left: 50%;
        img {
          width: 60%;
        }
      }
    }
  }
}
