.brand_banner {
  .banner_element {
    background: url(../img/brand/brand-banner.png) no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    height: 494px;
    position: relative;
    @include breakpoint(tablet) {
      height: 384px;
      background-position: 48% 100%;
    }
    .banner_content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      @include breakpoint(tablet) {
        width: 80%;
      }
      .title {
        font-size: 34px;
        line-height: 46px;
        color: $white;
        font-weight: 300;
        @include breakpoint(tablet) {
          font-size: 26px;
          line-height: 38px;
        }
      }
      .text {
        font-size: 24px;
        line-height: 32px;
        color: $white;
        font-weight: 300;
        margin-bottom: 35px;
        font-style: italic;
        @include breakpoint(tablet) {
          font-size: 19px;
          line-height: 28px;
          margin-bottom: 15px;
        }
      }
      .para {
        font-size: 16px;
        line-height: 21px;
        color: $white;
        font-weight: 300;
        @include breakpoint(tablet) {
          font-size: 13px;
          line-height: 19px;
        }
      }
    }
  }
  .brand_nav {
    .nav_list {
      display: flex;
      flex-flow: wrap;
      background: $base1;
      li {
        position: relative;
        width: 16.66%;
        text-align: center;
        @include breakpoint(tablet) {
          width: 49.8%;
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);
          &:nth-child(odd) {
            border-right: 1px solid #278254;
          }
        }

        &:last-child {
          &:after {
            display: none;
          }
        }
        &:after {
          @include breakpoint(tablet) {
            display: none;
          }
          position: absolute;
          content: "";
          height: 37px;
          width: 1px;
          background: $white;
          top: 50%;
          transform: translateY(-50%);
          right: -1%;
          opacity: 0.6;
        }
        .nav_link {
          color: $white;
          font-size: 16px;
          line-height: 21px;
          padding: 25px 0px;
          font-weight: 300;
          display: inline-block;
          letter-spacing: -0.8px;
          @include breakpoint(tablet) {
            padding: 19px 0px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
.brand_section {
  padding: 45px 0px;
}
.brand_about {
  .brand_item {
    display: flex;
    flex-flow: wrap;
    .thumb {
      width: 35%;
      position: relative;
      @include breakpoint(tablet) {
        width: 100%;
      }
      .main {
        width: 100%;
      }
      .short_des {
        text-align: center;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .text {
          font-size: 25px;
          line-height: 10px;
          margin-bottom: 50px;
          color: $white;
          font-weight: 300;
          @include breakpoint(tablet) {
            font-size: 16px;
            line-height: 15px;
            margin-bottom: 15px;
          }
          .cross {
            width: 25px;
          }
        }
        .logo {
          width: 28%;
        }
      }
    }
    .content {
      width: 60%;
      margin-left: 30px;
      @include breakpoint(tablet) {
        width: 100%;
        margin-left: 0;
      }
      .para {
        font-size: 16px;
        line-height: 21px;
        color: $base1;
        font-weight: 300;
        padding-top: 10px;
      }
    }
  }
}
.family {
  margin-bottom: 50px;
  @include breakpoint(tablet) {
    margin-bottom: 20px;
  }
  .family_heading {
    text-align: center;
    padding-bottom: 40px;
    position: relative;
    &:after,
    &:before {
      position: absolute;
      bottom: 6%;
      left: 51%;
      transform: translateX(-50%);
      width: 2px;
      height: 30px;
      background: #d1d1d1;
      opacity: 0.7;
      content: "";
      @include breakpoint(tablet) {
        left: 52%;
        height: 25px;
        bottom: 8%;
      }
    }
    &:after {
      left: 49%;
    }
    .title {
      font-size: 30px;
      line-height: 40px;
      letter-spacing: 5.7px;
      color: $base1;
      font-weight: 300;
      margin-bottom: 5px;
      @include breakpoint(tablet) {
        font-size: 26px;
        line-height: 33px;
        letter-spacing: 4.5px;
      }
    }
    .text {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 1.44px;
      color: $base1;
      font-weight: 300;
      @include breakpoint(tablet) {
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 1.12px;
      }
    }
  }
  .family_list {
    display: flex;
    flex-flow: wrap;
    li {
      width: 16.66%;
      &:last-child {
        .wrap {
          &::before {
            display: none;
          }
        }
      }
      .wrap {
        position: relative;
        width: 130px;
        height: 130px;
        line-height: 130px;
        background: #e2eae7;
        border-radius: 100%;
        text-align: center;
        margin: 0 auto;
        @include breakpoint(minitab) {
          width: 80px;
          height: 80px;
          line-height: 80px;
        }
        @include breakpoint(mobile_lg) {
          width: 65px;
          height: 65px;
          line-height: 65px;
        }
        @include breakpoint(mobile_sm) {
          width: 60px;
          height: 60px;
          line-height: 60px;
        }
        @include breakpoint(mobile_xs) {
          width: 50px;
          height: 50px;
          line-height: 50px;
        }
        @include breakpoint(extra_sm) {
          width: 45px;
          height: 45px;
          line-height: 45px;
        }

        &:after {
          position: absolute;
          content: "";
          top: 55%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: #28723f;
          width: 6px;
          height: 6px;
          border-radius: 100%;
        }
        &::before {
          position: absolute;
          background-size: 10px 20px;
          display: inline-block;
          content: "";
          background-image: url(../img/common/cross-sm.png);
          top: 50%;
          right: -18%;
          transform: translateY(-50%);
          width: 14%;
          height: 14%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          z-index: 9;
          @include breakpoint(mobile_sm) {
            right: -12%;
          }
        }
        .letter,
        .text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $base1;
        }
        .letter {
          font-size: 40px;
          line-height: 53px;
          letter-spacing: 7.6px;
          font-weight: 400;
          top: 30%;
          color: #28723f;
          padding-left: 5px;
          @include breakpoint(tablet) {
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 3.04px;
          }

          @include breakpoint(extra_sm) {
            font-size: 12px;
            line-height: 21px;
            letter-spacing: 3.04px;
          }
        }
        .text {
          font-size: 16px;
          line-height: 21px;
          font-weight: 300;
          top: 70%;
          @include breakpoint(tablet) {
            font-size: 8px;
            line-height: 11px;
          }
          @include breakpoint(extra_sm) {
            font-size: 6px;
          }
        }
      }
    }
  }
}
.person {
  padding-bottom: 0;
  display: flex;
  img {
    width: 25%;
  }
}
.thought {
  background: #19433f;
  position: relative;

  .common_content {
    .thumb {
      position: absolute;
      z-index: 9;
      bottom: -15%;
      left: -7%;
      width: 35%;
      @include breakpoint(minitab) {
        bottom: -10%;
        right: -3%;
        width: 57%;
        left: auto;
      }
    }
  }
}
.origin {
  background: #f5f4f0;
  position: relative;
  .common_content {
    @include breakpoint(minitab) {
      margin-bottom: 200px;
    }
    @include breakpoint(mobile_sm) {
      margin-bottom: 180px;
    }
    .thumb {
      position: absolute;
      z-index: 9;
      bottom: -5%;
      right: -7%;
      width: 35%;
      @include breakpoint(minitab) {
        bottom: -4%;
        right: 50%;
        width: 30%;
        transform: translateX(50%);
      }
      @include breakpoint(mobile_sm) {
        bottom: 3%;
      }
    }
  }
}
.quality {
  margin-bottom: 40px;
  @include breakpoint(tablet) {
    margin-bottom: 20px;
  }
  .quality_element {
    &.first {
      .quality_item {
        display: flex;
        flex-flow: wrap;
        position: relative;
        margin-bottom: 50px;
        @include breakpoint(tablet) {
          margin-bottom: 20px;
        }
        &:nth-child(odd) {
          .quality_content {
            margin-right: 30px;
          }
        }
        &:nth-child(even) {
          .quality_content {
            margin-left: 30px;
          }
        }
        &:last-child {
          .quality_thumb {
            @include breakpoint(tablet) {
              // padding-top: 0;
            }
          }
        }
        .quality_thumb {
          width: 35%;
          @include breakpoint(tablet) {
            width: 100%;
            margin-bottom: 15px;
            padding-top: 70px;
            img {
              width: 100%;
            }
          }
        }
        .quality_content {
          width: 61%;
          @include breakpoint(tablet) {
            width: 100%;
            margin: 0 !important;
            order: 2;
            .title {
              margin-bottom: 10px;
              @include breakpoint(tablet) {
                position: absolute;
                top: 19;
              }
            }
          }
        }
      }
    }
    &.second {
      margin-bottom: 30px;
    }
    &.third {
      display: flex;
      flex-flow: wrap;
      .quality_item {
        width: 48%;
        @include breakpoint(tablet) {
          width: 100%;
          margin: 0 !important;
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 20px !important;
          position: relative;
          &:last-child {
            margin-bottom: 0 !important;
          }
        }
        &:first-child {
          margin-right: 15px;
        }
        &:last-child {
          margin-left: 15px;
          .quality_content {
            margin-bottom: 90px;
            @include breakpoint(tablet) {
              margin-bottom: 0px;
            }
          }
        }
        .quality_content {
          margin-bottom: 60px;
          @include breakpoint(tablet) {
            order: 2;
            margin-bottom: 0;
            .title {
              position: absolute;
              top: 15px;
            }
          }
        }
        .quality_thumb {
          @include breakpoint(tablet) {
            position: static;
            order: 1;
            padding-top: 70px;
            margin-bottom: 15px;
            width: 100%;
            img {
              width: 100%;
            }
          }
          &.right {
            position: relative;
            left: -10%;
            min-width: 525px;
            @include breakpoint(tablet) {
              left: 0;
              min-width: 0;
            }
          }
        }
      }
    }
  }
  .quality_content {
    .title {
      font-size: 30px;
      line-height: 40px;
      color: $base1;
      font-weight: 300;
      margin-bottom: 25px;
      small {
        margin-left: 15px;
        font-size: 16px;
        line-height: 21px;
        color: $base1;
        font-weight: 300;
      }
    }
    .para {
      font-size: 15px;
      line-height: 20px;
      color: $base1;
      font-weight: 300;
    }
  }
}
.farm {
  background: url(../img/brand/farm-banner.png) no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  height: 841px;
  position: relative;
  padding-bottom: 80px;
  @include breakpoint(tablet) {
    height: 800px;
    padding-bottom: 0px;
    background-size: cover;
    background-position: 100% 100%;
    background: url(../img/brand/quality-heading_1.png) no-repeat;
    background-size: 100%;
  }
  @include breakpoint(mobile_sm) {
    height: 850px;
    background-size: cover;
  }
  .bottom_thumb {
    transform: translateY(45%);
    @include breakpoint(minitab) {
      position: absolute;
      bottom: -4%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }
    // @include breakpoint(mobile_sm) {
    //   transform: translateY(73%);
    // }

    // @include breakpoint(mobile_xs) {
    //   transform: translateY(45%);
    // }
    @include breakpoint(tablet) {
      text-align: center;
      img {
        width: 95%;
      }
    }
  }
}
.pourer {
  margin-bottom: 50px;
  @include breakpoint(tablet) {
    margin-bottom: 30px;
  }
  .pourer_item {
    display: flex;
    flex-flow: wrap;
    .thumb {
      position: relative;
      width: 48%;
      margin-right: 10px;
      @include breakpoint(tablet) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
        img {
          width: 100%;
        }
      }
      .text {
        font-size: 20px;
        color: $base1;
        line-height: 27px;
        font-weight: 300;
        position: absolute;
        bottom: 0;
        right: 10%;
      }
    }
    .content {
      width: 48%;
      margin-left: 10px;
      @include breakpoint(tablet) {
        width: 100%;
        margin-left: 0;
      }
      .title {
        font-size: 18px;
        line-height: 20px;
        color: $base1;
        font-weight: 300;
        margin-bottom: 20px;
      }
      .para {
        font-size: 15px;
        line-height: 20px;
        color: $base1;
        font-weight: 300;
      }
    }
  }
}
