footer {
  .footer_top {
    display: flex;
    flex-wrap: wrap;
    .left {
      width: 48%;
      margin-right: 15px;
      .footer_widget {
        &:first-child {
          margin-bottom: 112px;
          @include breakpoint(tablet) {
            margin-bottom: 20px;
          }
        }
      }
      @include breakpoint(tablet) {
        width: 100%;
        margin-right: 0;
      }
    }
    .right {
      width: 48%;
      margin-left: 15px;
      @include breakpoint(tablet) {
        width: 100%;
        margin-left: 0;
      }
    }
    .footer_widget {
      margin-bottom: 50px;
      @include breakpoint(tablet) {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
      }
      .widget_heading {
        border-bottom: 3px solid $base1;
        margin-bottom: 25px;
        .title {
          color: $black;
          padding-bottom: 6px;
        }
      }
      .text {
        color: $black;
      }
      .widget_list {
        display: block;
        &.calendar {
          margin-bottom: 20px;
        }
        .credit {
          width: 60%;
        }
        li {
          position: relative;
          padding-left: 17px;
          padding-bottom: 12px;
          color: $black;
          &:after {
            position: absolute;
            content: "";
            height: 12px;
            width: 12px;
            border-radius: 100%;
            background: $base1;
            top: 5px;
            left: 0;
            opacity: 0.8;
          }
        }
        .details {
          padding-top: 5px;
          display: block;
          text-align: right;
          margin-bottom: 15px;
          color: $black;
          img {
            margin-right: 4px;
          }
        }
      }
    }
    .widget_wrapper {
      &.left {
        .footer_widget {
          margin-bottom: 50px;
        }
      }
    }
  }
}
.footer_bottom {
  background: $base1;
  min-height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  .text {
    color: $white;
    font-size: 12px;
    @include breakpoint(tablet) {
      font-size: 11px;
    }
  }
}
