.gift_set {
  .gift_element {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px 80px;
    @include breakpoint(tablet) {
      padding: 10px 0px 30px;
    }

    .gift_left,
    .gift_right {
      position: relative;
      width: 48.5%;
      @include breakpoint(tablet) {
        width: 100%;
      }
      .content {
        position: absolute;
        left: 3%;
        top: 50%;
        transform: translateY(-50%);
      }
      .more_btn {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        @include breakpoint(tablet) {
          display: none;
        }
      }
      .title {
        font-size: 13px;
        font-weight: 500;
        font-style: italic;
        line-height: 17px;
        color: $white;
        @include breakpoint(tablet) {
          font-size: 9px;
        }
      }
      .text {
        font-size: 20px;
        line-height: 27px;
        color: $white;
        font-weight: 300;
        margin-bottom: 12px;
        letter-spacing: -1.9px;
        @include breakpoint(tablet) {
          font-size: 15px;
          letter-spacing: -1.74px;
          margin-bottom: 4px;
          line-height: 20px;
        }
      }
    }
    .gift_right {
      margin-left: 25px;
      @include breakpoint(tablet) {
        padding-top: 20px;
        margin-left: 0px;
      }
      .title {
        color: $base1;
      }
      .text {
        color: $base1;
      }
    }
  }
}
.ad_area {
  background: #eeeeee;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding: 10px 10px;
  @include breakpoint(tablet) {
  }
  .thumb {
    width: 49.1%;
    &:first-child {
      @include breakpoint(tablet) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    &:last-child {
      margin-left: 15px;
      @include breakpoint(tablet) {
        margin-left: 0px;
        width: 100%;
      }
    }
    img {
      width: 100%;
    }
  }
}
