.gift_set {
  .gift_element {
    display: grid;
    grid-template-columns: 48.5% 48.5%;
    grid-column-gap: 30px;
    padding: 10px 0px 80px;
    @include breakpoint(tablet) {
      grid-template-columns: 100%;
      grid-column-gap: 0px;
      padding: 10px 0px 20px;
    }
    .gift_left,
    .gift_right {
      position: relative;
      .content {
        position: absolute;
        left: 3%;
        top: 50%;
        transform: translateY(-50%);
      }
      .more_btn {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        @include breakpoint(tablet) {
          display: none;
        }
      }
      .title {
        font-size: 13px;
        font-weight: 500;
        font-style: italic;
        line-height: 17px;
        color: $white;
        @include breakpoint(tablet) {
          font-size: 9px;
        }
      }
      .text {
        font-size: 20px;
        line-height: 27px;
        color: $white;
        font-weight: 300;
        margin-bottom: 12px;
        letter-spacing: -1.9px;
        @include breakpoint(tablet) {
          font-size: 15px;
          letter-spacing: -1.74px;
          margin-bottom: 4px;
          line-height: 20px;
        }
      }
    }
    .gift_right {
      @include breakpoint(tablet) {
        padding-top: 20px;
      }
      .title {
        color: $base1;
      }
      .text {
        color: $base1;
      }
    }
  }
}
.ad_area {
  background: #eeeeee;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 30px;
  @include breakpoint(tablet) {
    grid-template-columns: 100%;
    background: transparent;
  }
  .thumb {
    padding: 12px 8px;
    &:first-child {
      padding-left: 15px;
      @include breakpoint(tablet) {
        padding: 12px 0px 6px;
      }
    }
    &:last-child {
      @include breakpoint(tablet) {
        padding: 6px 0px 12px;
      }
    }
    img {
      width: 100%;
    }
  }
}
