body {
  background-image: url(../img/common/add_banner.png);
  background-repeat: repeat-y;
  background-attachment: scroll;
  background-size: 80px auto;
  height: 100%;
  @include breakpoint(macbook) {
    background-image: none;
  }
}
section {
  padding: 20px 0px;
}
section,
.footer_top {
  @include breakpoint(macbook) {
    margin: 0px 20px;
    &.banner,
    &.brand_banner {
      margin: 0px;
    }
  }
}
.container {
  max-width: 984px;
  margin: 0 auto;
}
.active {
  color: red;
}
.section_heading {
  text-align: center;
  padding: 50px 0px 60px;
  @include breakpoint(tablet) {
    padding: 30px 0px;
  }
  .title {
    font-size: 26px;
    font-weight: 700;
    font-style: italic;
    color: $base1;
    margin-bottom: 10px;
  }
  .text {
    font-weight: 300;
    color: $base1;
    font-size: 16px;
  }
}

.custom_btn {
  background: $white;
  padding: 6px 26px;
  border-radius: 16px;
  font-size: 13px;
  position: relative;
  &.style_two {
    background: $base1;
    color: $white;
  }
  img {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    right: 9%;
    width: 6px;
    height: 10px;
  }
}

.menu-fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #fff !important;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  max-width: 984px;
  display: none;
  @include breakpoint(tablet) {
    display: block;
  }
}
.common {
  &.style_two {
    .common_heading {
      .title {
        opacity: 0.7;
      }
      .text {
        color: $base1;
      }
    }
    .common_content {
      .para {
        color: $base1;
      }
    }
  }
  &.style_three {
    .common_heading {
      .title {
        opacity: 0.2;
        color: $base1;
      }
      .text {
        color: $base1;
      }
    }
    .common_content {
      .para {
        color: $white;
      }
    }
  }
  .common_heading {
    text-align: center;
    padding: 20px 0px;
    position: relative;
    margin-bottom: 15px;
    .title {
      font-size: 80px;
      line-height: 106px;
      color: #c8d4cb;
      font-weight: 300;
      opacity: 0.4;
      @include breakpoint(tablet) {
        font-size: 60px;
        line-height: 90px;
      }
    }
    .text {
      font-size: 32px;
      line-height: 43px;
      color: $white;
      font-weight: 300;
      letter-spacing: 2.56px;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }
  }
  .extra_text {
    color: $base1;
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
    @include breakpoint(tablet) {
      margin-bottom: 15px;
    }
  }
  .common_content {
    text-align: center;
    margin-bottom: 120px;
    @include breakpoint(tablet) {
      text-align: left;
    }
    .para {
      color: $white;
      font-size: 16px;
      line-height: 21px;
      font-weight: 300;
      @include breakpoint(tablet) {
        margin: 0px 20px;
      }
    }
  }
}

.fc-today-button {
  text-indent: -5000px;
  position: relative;
  min-width: 50px;
  &:after {
    position: absolute;
    content: "当月";
    top: 50%;
    left: 50%;
    color: $base1;
    text-indent: 0;
    width: 100%;
    transform: translate(-50%, -50%);
  }
}
