header {
  display: flow-root;
  position: relative;
  padding-top: 36px;
  @include breakpoint(tablet) {
    padding: 12px 0px;
  }
  .header_logo {
    float: left;
    transform: translateY(-10px);
    @include breakpoint(tablet) {
      float: none;
      transform: none;
      text-align: center;
      img {
        width: 60px;
        height: 46px;
      }
    }
  }
  .header_nav {
    float: right;
    #check {
      display: none;
      @include breakpoint(tablet) {
        &:checked ~ .nav_area {
          left: 0;
        }
        &:checked + label {
          .close_btn {
            display: block;
          }
          .toggle_btn {
            display: none;
          }
        }
      }
    }
    .checkbtn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 4%;
      display: none;
      @include breakpoint(tablet) {
        display: block;
      }
    }
    .close_btn {
      display: none;
    }
    .search_area {
      display: flex;
      float: right;
      .subscribe_bar {
        position: relative;
        // padding-left: 35px;
        min-width: 120px;
        @include breakpoint(tablet) {
          display: none;
        }
        a {
          position: absolute;
          top: -39px;
          right: 0;
          .text {
            position: absolute;
            left: 50%;
            width: 100%;
            top: 60%;
            transform: translate(-50%, -50%);
            color: $white;
            font-size: 13px;
            text-align: center;
            line-height: 15px;
          }
        }
      }
      .search_bar {
        margin-bottom: 0;
        position: relative;
        // display: flex;
        // float: right;
        @include breakpoint(tablet) {
          display: none;
        }
        .search_input {
          background: $white;
          border: 1px solid #d1d1d1;
          outline: none;
          width: 211px;
          padding: 9px 10px 12px;
          border-right: 0;
          transform: translateY(-4px);
        }
        .search_icon {
          background: $base2;
          display: inline-block;
          padding: 7px 15px;
          cursor: pointer;
          img {
            transform: translateY(4px);
            margin-right: 3px;
          }
          span {
            color: $white;
          }
        }
      }
      .search_bar_sp {
        &.open {
          @include breakpoint(tablet) {
            .search_bar_inner {
              display: block;
            }
            .add_search {
              display: none;
            }
            .remove_search {
              display: block;
            }
          }
        }
        .add_search {
          display: none;
          position: absolute;
          top: 50%;
          left: 4%;
          transform: translateY(-50%);
          @include breakpoint(tablet) {
            display: block;
          }
        }
        .remove_search {
          display: none;
          position: absolute;
          top: 66%;
          right: 4%;
          transform: translateY(-50%);
          background: white;
          width: 10%;
          height: 45px;
          line-height: 35px;
          text-align: center;
          z-index: 9;
        }
        .search_bar_inner {
          display: none;
          position: relative;
          @include breakpoint(tablet) {
            width: 80%;
            position: absolute;
            top: 50%;
            left: 4%;
            transform: translateY(-50%);
            #search_input {
              border: 1px solid #d1d1d1;
              outline: none;
              background: $white;
              padding: 17px 15px;
              font-size: 13px;
              &:focus {
                outline: none;
              }
            }
            #search_submit {
              text-indent: -10000px;
              background: url(../img/common/search_sp.svg) no-repeat;
              position: absolute;
              top: 60%;
              transform: translateY(-50%);
              right: 1%;
              padding: 8px 14px;
            }
          }
        }
      }
    }
    .nav_area {
      clear: both;
      @include breakpoint(tablet) {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: $base1;
        top: 70px;
        left: -100%;
        z-index: 9;
        transition: all ease-in-out 0.5s;
      }
      .navber_list {
        display: flex;
        @include breakpoint(tablet) {
          display: block;
          list-style: none;
          padding-top: 10px;
        }
        li {
          position: relative;
          text-align: center;
          @include breakpoint(tablet) {
            text-align: left;
            padding: 0px 15px;
          }
          &:last-child {
            a {
              padding-right: 0;
            }
          }
          &.active {
            &:after {
              @include breakpoint(tablet) {
                display: block;
              }
              position: absolute;
              content: "";
              width: 60%;
              background: $base1;
              left: 50%;
              bottom: 18%;
              height: 1.3px;
              transform: translateX(-50%);
              opacity: 0.8;
            }
          }
          a {
            padding: 25px 20px 30px;
            color: $base1;
            font-weight: 300;
            font-size: 16px;
            display: inline-block;
            @include breakpoint(tablet) {
              color: $white;
              display: block;
              padding: 10px 10px;
              border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            }
          }
        }
      }
    }
  }
}
