.products {
  .product_show {
    display: flex;
    text-align: center;
    flex-flow: wrap;
    .show_item {
      width: 20%;
      @include breakpoint(tablet) {
        margin-bottom: 20px;
        width: 50%;
      }
      .thumb {
        margin-bottom: 15px;
        @include breakpoint(tablet) {
          margin-bottom: 5px;
        }
      }
      .content {
        display: flex;
        min-height: 50px;
        justify-content: center;
        align-items: center;
        .text {
          font-size: 15px;
          font-weight: 300;
          color: $base1;
          line-height: 30px;
        }
      }
    }
  }
  .product_search {
    padding: 35px 0px;
    @include breakpoint(tablet) {
      padding: 20px 0px 0px;
    }
    .table_data {
      display: flex;

      tbody {
        width: 100%;
        tr {
          border: 1px solid #d1d1d1;
          display: inline-block;
          border-bottom: none;
          width: 100%;
          border-spacing: 0;
          &:last-child {
            border-bottom: 1px solid #d1d1d1;
          }
          @include breakpoint(tablet) {
            overflow: hidden;
            border: none;
            margin-bottom: 20px;
            &:last-child {
              border-bottom: none;
            }
          }
          th {
            padding: 23px 18px;
            background: #eee;
            font-size: 16px;
            font-weight: 300;
            line-height: 30px;
            color: $base1;
            min-width: 160px;
            border-right: 1px solid #d1d1d1;
            @include breakpoint(tablet) {
              padding: 12px 18px;
              width: 100%;
              float: left;
              border: none;
              margin-bottom: 10px;
              text-align: left;
            }
          }
          td {
            @include breakpoint(tablet) {
              width: 48%;
              float: left;
              display: flex;
              &:nth-child(odd) {
                float: right;
              }
            }
            a {
              padding: 23px 18px;
              background: $white;
              font-size: 16px;
              font-weight: 300;
              line-height: 30px;
              color: $base1;
              text-decoration: underline;
              @include breakpoint(tablet) {
                border: 2px solid #d1d1d1;
                padding: 6px 18px;
                font-size: 14px;
                width: 100%;
                margin-bottom: 12px;
                border-radius: 4px;
              }
            }
          }
        }
      }
    }
  }
  .feature_product {
    padding: 15px 0px;
    .show_item {
      position: relative;
      display: flow-root;
      margin-bottom: 40px;
      @include breakpoint(tablet) {
        display: flex;
        flex-flow: column;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:nth-child(odd) {
        .thumb {
          float: right;
        }
        .content {
          float: left;
        }
      }
      &:nth-child(even) {
        .thumb {
          float: left;
        }
        .content {
          float: right;
        }
        .heading {
          left: auto;
          right: 0;
        }
      }
      .heading {
        position: absolute;
        background: #044a28;
        width: 50%;
        height: 26%;
        top: 5%;
        left: 0;
        @include breakpoint(tablet) {
          top: 0;
          width: 100%;
          display: none;
        }
        &:after {
          position: absolute;
          content: url(../img/common/repeat.png);
          top: 0;
          left: 0;
        }
        .title {
          font-size: 50px;
          font-weight: 400;
          line-height: 67px;
          color: $white;
          position: absolute;
          right: -10%;
          bottom: 0;
        }
        .text {
          color: $white;
          font-size: 25px;
          letter-spacing: 2.5px;
          line-height: 33px;
          font-weight: 300;
          position: absolute;
          top: 25%;
          left: 7%;
          @include breakpoint(tablet) {
            font-size: 20px;
            line-height: 27px;
            letter-spacing: 2px;
          }
        }
      }
      .content {
        width: 38%;
        transform: translateY(240px);
        align-items: center;
        justify-content: center;
        display: flex;
        @include breakpoint(tablet) {
          width: 100%;
          transform: none;
          order: 2;
        }
        .para {
          line-height: 30px;
          font-size: 16px;
          color: $base1;
          font-weight: 300;
        }
      }
      .thumb {
        width: 58%;
        @include breakpoint(tablet) {
          width: 100%;
          order: 1;
          margin-bottom: 10px;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  .story_product {
    padding: 15px 0px;
    .story_element {
      display: flex;
      flex-wrap: wrap;

      .thumb {
        width: 25%;
        @include breakpoint(tablet) {
          width: 50%;
        }
      }
    }
    .show_story {
      text-align: right;
      padding-top: 15px;
      @include breakpoint(tablet) {
        text-align: center;
      }
      img {
        transform: translateY(2px);
        margin-right: 5px;
      }
      a {
        text-decoration: underline;
      }
    }
  }
}
