.review {
  padding: 0px 25px;
  background: $border1;
  position: relative;
  @include breakpoint(tablet) {
    margin: 0px 20px;
    padding: 15px 20px;
  }
  &:after,
  &:before {
    position: absolute;
    content: "";
    top: 5px;
    left: 0;
    width: 100%;
    height: 1px;
    background: $white;
  }
  &:before {
    top: auto;
    bottom: 5px;
  }
  .review_content {
    display: flex;
    @include breakpoint(tablet) {
      display: flow-root;
      text-align: center;
    }
    .item {
      float: left;
      display: flex;
      align-items: center;
      padding-right: 25px;
      p {
        color: $white;
      }
    }
    .write {
      img {
        width: 40px;
        height: 40px;
        @include breakpoint(tablet) {
          width: 16px;
          height: 16px;
        }
      }
      .text {
        font-size: 16px;
        font-weight: 300;
        margin-left: 10px;
        line-height: 22px;
        margin-bottom: 0;
        @include breakpoint(tablet) {
          font-size: 13px;
          margin-bottom: 0;
          margin-left: 3px;
          br {
            display: none;
          }
        }
      }
    }
    .price_text {
      .price {
        font-size: 48px;
        font-weight: 400;
        @include breakpoint(tablet) {
          font-size: 30px;
          line-height: 40px;
        }
        span {
          font-weight: 400;
          font-size: 30px;
          @include breakpoint(tablet) {
            font-size: 20px;
            line-height: 27px;
          }
        }
      }
      .text {
        font-size: 16px;
        font-weight: 300;
        margin-left: 10px;
        line-height: 22px;
      }
    }
    .para {
      .text {
        font-size: 26px;
        font-weight: 400;
        @include breakpoint(tablet) {
          font-size: 18px;
          line-height: 18px;
          font-weight: 300;
        }
      }
    }
  }
}
